body {
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Yellowtail', cursive;
  font-size: 5.625rem; /*100% = 16px to get 90px we divide 90 / 16 = 5.625 -> 562.5%*/
  /* 1 em is also equal to 16px*/
  /* ALso note font size is inherited from the parents if dynamic size is used. as in added*/
  /* rem size is root em. it ignores all other parent sizes and keeps the local rem assigned size*/
  /*rem size is recommended by Angela*/
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}


hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}

a{
  color: #11999E;
}
p{
  font-weight: bold;
}

section {
  padding-top: 56px;
  padding-bottom: 4rem;
}

#white-profile{
  background-color: #fff;
  color: #000;
}

#black-skills{
  background-color: #000;
  color: #fff;
}

#white-projects{
  background-color: #fff;
  color: #000;
}

#black-contact{
  background-color: #000;
  color: #fff;
}

.navbar-brand {

  font-weight: bold;
  padding-left: 18px;
}
.nav-item {
  padding: 0 18px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #6ccccc);
  background-image: -moz-linear-gradient(top, #3498db, #6ccccc);
  background-image: -ms-linear-gradient(top, #3498db, #6ccccc);
  background-image: -o-linear-gradient(top, #3498db, #6ccccc);
  background-image: linear-gradient(to bottom, #3498db, #6ccccc);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me{
  margin-top: 40px;
}
.copyright{
  color: #EAF6F6;
  font-weight: normal;
}

.hello-description{
  margin: 0 auto 80px auto;
  width: 40%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  /* background-color: #E4F9F5; */
  padding-top: 100px;
  position: relative;
}

.middle-container {
margin-bottom: 80px;
}

.footer {
  line-height: 3;
  margin: 40px auto 0 auto;
  padding: 2rem 0 2rem 0;
}

.pro {
  text-decoration: underline;
}

.programming{
  float: left;
  margin-right: 30px;
  width: 25%;
}
.gaming{
  float: right;
  margin-left: 30px;
  width: 25%;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  height: auto;
}
/* This below makes it so there isn't any wrapping of the text on the image and the text appears below the image. please refer to paragraph class for HTML element.
.programing-description{
  clear: left;
}*/
